---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>


  <nav class="PageNavigation">
    <table>
      <tr>
        <td>
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">{%comment%}&laquo; {%endcomment%}{{page.previous.title}}</a>
        {% endif %}
        </td>
        <td>
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}}{%comment%} &raquo;{%endcomment%}</a>
        {% endif %}
        </td>
    </table>
  </nav>


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>

  <nav class="PageNavigation">
    <table>
      <tr>
        <td>
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">{%comment%}&laquo; {%endcomment%}{{page.previous.title}}</a>
        {% endif %}
        </td>
        <td>
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}}{%comment%} &raquo;{%endcomment%}</a>
        {% endif %}
        </td>
    </table>
  </nav>
  
  <br>
  
  <div id="donate" class="donate">
    <p id="donate-req">Если вам помогла эта статья, вы можете поддержать автора:</p>

  {%- include my-yoomoney-donate.html -%}

  <script>
    let params = new URLSearchParams(window.location.search);
    
    if(params.get("donated") == "success"){

      // Remove all query parameters from the current URL
      let url = new URL(window.location.href);
      url.search = '';
      window.history.replaceState({}, '', url.href);

      let donatedCount = parseInt(localStorage.getItem("donatedCount")) || 0;
      localStorage.setItem("donatedCount", donatedCount + 1);
      if(donatedCount == 0){
        document.getElementById("donate-req").innerHTML = "Спасибо за то, что поддержали автора! Вы можете сделать это ещё раз:";
      } else {
        document.getElementById("donate-req").innerHTML = "Большое спасибо за то, что поддержали автора <b>уже " + (donatedCount + 1) + " раза</b>! Вы можете сделать это ещё раз:";
      }
    } else {
      let donatedCount = parseInt(localStorage.getItem("donatedCount")) || 0;
      if(donatedCount == 1){
        document.getElementById("donate-req").innerHTML = "Вы уже поддержали автора, спасибо! Вы можете сделать это ещё раз:";
      } else if(donatedCount > 1){
        document.getElementById("donate-req").innerHTML = "Вы поддержали автора <b>уже " + (donatedCount) + " раза</b>, большое спасибо! Вы можете сделать это ещё раз:";
      }
    }
  </script>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>

  // Link icon from Octicons: https://primer.style/octicons/

  let linkIcon = '<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"><\/path><\/svg>';


  // Script to create fragment links (https://remarkablemark.org/blog/2020/04/04/jekyll-heading-anchor-links/)
  document
    .querySelector('.post-content') // your selector for the post body
    .querySelectorAll('h1,h2,h3,h4,h5,h6')
    .forEach(function(heading) {
      if (heading.id) {
        heading.innerHTML =
          '<a class="header-link-anchor" href="#' + heading.id + '">' + linkIcon + '<\/a>' + heading.innerText;
      }
    });
</script>